.container {
    color: aliceblue;
    background-color: #283593;
    padding: 30px;
    margin: 12px auto;
    width: 95%;         
    max-width: 1200px; 
    border-radius: 10px;
}
.input-group{
    margin: 15px;
}
.Now-Playing{
margin-left: 15px;
margin-top: 15px;
}