<div class="input-group p-4">
  <input type="search"
         class="form-control rounded"
         placeholder="Search"
         [(ngModel)]="query"
         (keyup.enter)="onSearch()">
  <button type="button" class="btn btn-outline-primary" (click)="onSearch()">Search</button>
</div>

<!-- العنوان اللي بيتغير -->
<div class="p-4" *ngIf="query">
  <h5><b>Search Results for :</b> {{ query }}</h5>
</div>

<div class="row p-4">
  <div class="col-md-3 mb-3" *ngFor="let movie of movies">
    <div class="card h-100">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
           class="card-img-top"
           *ngIf="movie.poster_path">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">{{ movie.release_date }}</p>
      </div>
    </div>
  </div>
</div>
